<tod-menu></tod-menu>
<router-outlet></router-outlet>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<!--
<script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyC0ew6DkRueDMRPq13S6skPeXViN-unMC4",
    authDomain: "truthordare-database.firebaseapp.com",
    projectId: "truthordare-database",
    storageBucket: "truthordare-database.appspot.com",
    messagingSenderId: "683895734418",
    appId: "1:683895734418:web:8f7961f2988f051f82e64b",
    measurementId: "G-0RNBMJ2EME"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
-->
